.app-appfoot-box{
    height: .485rem;
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;   
    width: 3.75rem;  
    border-top:1px solid #d8d8d8; 
    ul{
        display:flex; 
        flex:1;
        justify-content: space-around;
        align-items: center;
        margin-top:.05rem;
        li{
            height: .485rem;       
            text-align:center;        
            a{
                display:block;
                color: #999;
                height: .485rem;
                .fa{
                font-size: .2rem;
                display:block;
                }
                span{margin-top:.03rem;display:block;font-size:.1rem;} 
                &.active{
                    color: #f03d37;
                }
            }
            
        }
    }
} 