.app-login-box{
    .top{
        color:#EE6363;
        font-size: .23rem;
        padding:.2rem .1rem;
        .fa-times{
            font-size: .28rem;
        }     
    }
    main{
        padding:.5rem .6rem;
        .ltitle{
            font-size: .4rem;
            color:#666;
        }
      
        p{
            font-size:.16rem;           
        }
        .ycode{
            color:#666;
            margin-top:.3rem;
        }
        .login-bottom{
            margin-top:.3rem;
            p{
                width:2.42rem;
                color:#666;
                font-size: .13rem;
                margin-bottom:.3rem;
                b{
                    color:#EE6363;
                }
                img{
                    margin:.04rem;
                    width:.46rem;
                    height:.4rem;
                }
            }
        }
    }
} 